<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <pipelines>
         <sessionEnd>
            <processor type="CitizenSc.CrmConnector.Web.Processors.SessionEnd.SyncCrmToXdb, CitizenSc.CrmConnector.Web" patch:before="processor[@type='Sitecore.Analytics.Pipelines.SessionEnd.RaiseVisitEnd,Sitecore.Analytics']">
               <CrmContext type="CitizenSc.CrmConnector.Service.DynamicsCrm.DynamicsCrmContext, CitizenSc.CrmConnector.Service.DynamicsCrm" />
            </processor>
         </sessionEnd>
      </pipelines>
   </sitecore>
</configuration>